<section class="contact-us-section">
    <div class="contact-container">
      <div class="contact-details">
        <h2>CONTACT US</h2>
        <div class="contact-grid-layout">
          <!-- <div class="contact-block">
            <strong>Anand International College of Engineering</strong>
            <p>Near Kanota, Agra Road, Jaipur</p>
          </div> -->
          <div class="contact-block">
            <strong>Prof. Dr. Praveen Agarwal</strong>
            <p>Conference Chair & Convenor</p>
            <div class="contact-line"><i class="fa-brands fa-whatsapp text-green"></i> +(91) 8387894656</div>
            <div class="contact-line"><i class="fa-solid fa-envelope"></i>icbas.india@gmail.com</div>
          </div>
          <div class="contact-block">
            <strong>Prof. Dr. Ali Akgül</strong>
            <p>Conference Chair & Convenor</p>
            <div class="contact-line"><i class="fa-brands fa-whatsapp text-green"></i>+90 5304616538</div>
            <div class="contact-line"><i class="fa-solid fa-envelope"></i>aliakgul00727@gmail.com</div>
          </div>
          <!-- <div class="contact-block">
            <strong>Conference Mail:</strong>
            <div class="contact-line"><i class="fa-solid fa-envelope"></i> icinsa@anandice.ac.in</div>
          </div> -->
        </div>
      </div>
      
    </div>
  </section>